<?xml version="1.0"?>
<launch>
  <param name="robot_description" value="$(find car)/urdf/car.urdf" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find car)/worlds/car.world"/>
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>
  <include file="$(find car)/launch/urdf_xacro.launch" />

  <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 -0.24885 0 0 0 0 base_link base_footprint 40" /> -->

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model car -param robot_description -x -5 -y -8 -z 5"/>

</launch>
