<?xml version="1.0"?>
<robot name="car_base" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

 
  <xacro:include filename="$(find car)/urdf/bases/car_base.gazebo.xacro" />

  <xacro:macro name="car_base" params="name publish_bf">

    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <!-- TODO: CHANGE WHEEL WIDTH -->
    <xacro:property name="wheel_width" value="0.275" />
    <xacro:property name="clearance" value="0" />
    
    <!-- BASE FOOTPRINT -->
    <xacro:if value="${publish_bf}">
        <link name="base_footprint">
        <visual>
            <origin xyz="-0.01596 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.001 0.001 0.001" />
            </geometry>
        </visual>
        </link>

        <joint name="base_footprint_joint" type="fixed">
        <origin xyz="-0.01596 0 ${clearance}" rpy="0 0 0" />  
        <parent link="base_footprint"/>
        <child link="base_link" />
        </joint>    
    </xacro:if>

    <!-- BASE_LINK -->
    <link name="base_link">
        <inertial>
        <origin xyz="0.4 0 0" rpy="0 0 0" />
        <mass value="192.69" />
        <inertia
        ixx="33.169"
        ixy="-1.105"
        ixz="-9.0191"
        iyy="117.15"
        iyz="1.4735"
        izz="118.94" />
        </inertial>
        <visual>
        <origin xyz="2.07 0 0" rpy="0 0 0" />
        <geometry>
             <mesh filename="package://car/meshes/base_link.STL" />
	    <box size="0.001 0.001 0.001" />	
        </geometry>
        <material name="">
            <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
        </visual>
        <collision>
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
        </collision>
    </link>
  </xacro:macro>
</robot>
