<?xml version="1.0"?>
<robot name="ti_radar" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

    <xacro:macro name="ti_radar" params="parent *origin">

    <joint name="radar_joint" type="fixed">
        <parent link="${parent}"/>
        <child link="radar_link"/>
        <xacro:insert_block name="origin" />        
    </joint>
    <link name="radar_link">
        <visual>
            <origin xyz="0 0 1.5" rpy="0 0 0"/>
            <!--<geometry>
                <mesh filename="package://car/meshes/lidar.STL" />
            </geometry>-->
            <material name="light_grey">
                <color rgba="0.8 0.8 0.8 0.8"/>
            </material>
        </visual>
    </link>

    </xacro:macro>
    
</robot>
